<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Boot auth logins</title>
	<!-- build:css css/app.min.css -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/master.css" rel="stylesheet">
	<!-- /build -->
</head>
<body style="background-image: url('img/bg-login.png');background-size: 100% auto" ng-app="bootLogin">
	<div class="container-fluid" ng-controller="loginCtrl">
		<div class="row">
			<div class="col-md-12">
				<img class="img-responsive center-block" src="img/banner.png">
			</div>
		</div>
		<div class="row" ng-show="createUser===false && isCreated===false">
			<div class="col-md-4 col-lg-2 col-md-offset-3 col-lg-offset-4">
				<form action="/login" method="POST" class="form" style="padding-top: 30px; padding-bottom: 30px;" id="frmLogin">
					<div class="form-group">
						<input id="username" name="j_username" type="text" class="form-control" style="color: white;" placeholder="Username"/>
					</div> 
					<div class="form-group">
						<input id="password" name="j_password" type="password" class="form-control" style="color: white;" placeholder="Password" />
					</div>
					<input style="width:100%;" type="submit" value="Log In" class="btn btn-primary" />
				</form>
			</div>
		</div>
		<div>
			<div>
				<div class="row" ng-show="createUser===false && isCreated===false">
					<div class="col-md-4 col-lg-2 col-md-offset-3 col-lg-offset-4">
						<button ng-click="createUser=true;isCreated=false;" style="width:100%;" class="btn btn-primary">Create User</button>
					</div>
				</div>
				<div class="row" ng-show="isCreated===true">
					<div class="col-md-4 col-lg-2 col-md-offset-3 col-lg-offset-4">
						<h4>User {{user.name}} created correctly</h4>
						<button style="width:100%;" ng-click="createUser=false;isCreated=false;" class="btn btn-primary">Back to login</button>
					</div>
				</div>
				
				<div class="row" ng-hide="createUser===false">
					<div class="col-md-4 col-lg-2 col-md-offset-3 col-lg-offset-4">
						<form class="form"  style="padding-top: 30px; padding-bottom: 30px;">
							<div class="form-group">
								<input id="usr" name="usr" type="text" class="form-control" style="color: white;" ng-model="user.name" placeholder="Username"/>
							</div>
							<div class="form-group">
								<input id="pwd" name="pwd" type="password" class="form-control" style="color: white;" ng-model="user.pwd" placeholder="Password"/>
							</div>
							<div class="form-group">
								<input id="repeatPwd" name="repeatPwd" type="password" class="form-control" style="color: white;" ng-model="repeatPwd" placeholder="Repeat password"/>
							</div>
							<button style="width:100%;" ng-click="signIn()" class="btn btn-primary" ng-disabled="(user.pwd!==repeatPwd)||(user.pwd==='')">SignIn</button>
							<button style="width:100%;" ng-click="createUser=false;isCreated=false;" class="btn btn-primary">Back to login</button>
						</form>
					</div>
				</div>
			</div>
		</div>		
		
		
	</div>
	<script type="text/javascript" src="jsLib/jquery.min.js"></script>
	<script type="text/javascript" src="jsLib/angular.min.js"></script>
	<script type="text/javascript" src="jsLib/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="appz/app.js"></script>
	<script type="text/javascript" src="appz/login.js"></script>
</body>
</html>